@import "tailwindcss";

@theme {
  --color-primary: #6495ED;
  --color-primary-light: #d1e8ff;
  --color-accent: #FBBF24;
}

html {
  scroll-behavior: smooth;
}

.scroll-mt-16 {
  scroll-margin-top: 4rem;
}
